* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.header {
    background-color: #1e81b0;
    /*cambio de fondo*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo:hover {
    transform: scale(1.1);
}

.header .logo .cont-link {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 40px;

}

.header .logo h2 {
    color: #eeeee4;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0%;

}

.header .logo h2:hover {
    color: #DD761C;
}

.header .nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #1e81b0;

}

.header .nav a {
    margin: 2%;
    font-size: 16px;
    color: #eeeee4;
    text-decoration: none;
    font-weight: 600;

}

.header .nav a:hover {
    color: #DD761C;
}

footer {
    background-color: #1e81b0;
    padding: 15px;
    text-align: center;
    background-repeat: no-repeat;
    color: #eeeee4;
}

footer h2 {
    font-size: 20px;
    font-weight: 500;
}

footer a img {
    max-width: 2%;
}

footer p {
    margin-top: 2%;
    font-size: 65%;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*-----inicio-----*/

body .index {
    background-color: #EFF4F7;
    max-width: 100%;
}

main .portada {
    height: 400px;
    overflow: hidden;
}

main .portada img {
    max-width: 100%;
    position: relative;
    align-self: center;
}

/*----carruseel----*/

.carousel-inner {
    padding: 0px 0 20px;
    max-width: 90%;
    /* Ajusta esto según sea necesario */
    margin: auto;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    /* Mantiene la proporción de aspecto */
}

@media only screen and (max-width: 650px) {
    .carousel-inner {
        padding: 20px 0 20px;
        max-width: 100%;
        /* Ajusta esto según sea necesario */
        margin: auto;
    }

    .carousel-inner img {
        width: 100%;
        height: 200px;
        /* Mantiene la proporción de aspecto */
    }

    main .presentacion {
        padding: 0;
    }

    #app .d-flex {
        flex-direction: column;
        align-content: center;
    }

    #app .tarjeta {
        min-width: 90%;
        margin: 5px;
    }

    main .inicio-tarjetas {
        padding: 0 0 0;
    }
}

/* ----------------presentacion ----------------*/

.presentacion {
    max-width: 80%;
    text-align: center;
    margin: 35px auto 0;
    padding: 50px 100px;
    color: #0F1B1D;
}

.presentacion h2 {
    font-size: 1rem;
    font-weight: 500;
}

.presentacion p {
    font-size: 0.8rem;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}



/*-----estilo busqueda de perro-----*/

.inicio-tarjetas {
    width: 100%;
    margin: auto;
    padding: 30px 10% 20px;
    background-color: #EFF4F7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-busqueda {
    text-align: center;

}


#app .canina {
    font-size: 1rem;
    font-weight: bold;
    color: #0F1B1D;
    padding: 0px 0px 10;
    max-width: 100%;
    text-align: center;
}

#app label {
    font-weight: normal;
    color: #0F1B1D;
    max-width: 20%;
    font-size: 0.8rem;
    margin: 5px 10px 0px;
    padding: 8px 12px 0px;
    display: inline-block;
}

#app button {
    margin: 5px 10px 10px;
    padding: 5px 8px;
    font-size: 0.6rem;
    font-weight: normal;
    border: 1px solid #EFF4F7;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    background-color: #0F1B1D;
    color: #FFFBF0;
    border: none;
    transition: background-color 0.3s;

}

#app select,
option {
    width: 30%;
    font-size: 0.7rem;
    color: #0F1B1D;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #EFF4F7;
}

#app button:hover {
    background-color: #6DC5D1;
}

#app .d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

#app .tarjeta {
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #0F1B1D;
    border-radius: 12px;
    background-color: #0f1b1ddc;
    color: #EFF4F7;
}

#app .tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#app .tarjeta h5 {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    color: #FEB941;
}

#app .tarjeta p {
    margin: 0;
    font-size: 15px;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #EFF4F7;

}

/*----media para el nav-----*/

@media only screen and (max-width: 650px) {
    .header .nav a {
        text-align: center;
        font-size: 70%;
    }

    

    .header .nav {
        flex-direction: column;
        align-content: center;
    }

    .header .logo .cont-link {
        flex-direction: column;
    }

    footer a img {
        max-width: 6%;
    }
}

/* ------------ tarjetas-1------------------*/

.contenedor-tarjetas {
    display: flex;
    background-color: #dd761ca1;
    justify-content: center;
    flex-wrap: wrap;

}

.tarjeta-1 {
    border: 1px solid #0F1B1D;
    border-radius: 12px;
    background-color: #EFF4F7;
    size: cover;
    background-position: center;

    margin: 20px;
    padding: 30px;
    width: 300px;
    text-align: center;
}


.tarjeta-1 h2 {
    color: #0F1B1D;
    font-size: 1rem;
    font-weight: 500;
}

.tarjeta-1 p {
    color: #0F1B1D;
    font-size: 0.7rem;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor-tarjetas .button-1 {
    display: inline-block;
    padding: 5px 10px;

    color: #1D0D00;
    text-decoration: none;

    font-size: 0.7rem;

    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.contenedor-tarjetas .button-1:hover {
    color: #DD761C;
}

/* ------------------- links-----------------*/

.servicios-link a {
    text-decoration: none;
    font-weight: normal;
    color: #58a9ff;
}


/*--------Css de productos------*/

body .prod {
    background-color: #ffffff;
    max-width: 100%;
}

main .home {
    background-color: #EFF4F7;
    justify-content: center;

}


main .bannerpromo img {
    max-width: 100%;
}

main div .bar-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 5px;
    background-color: #F1F5E4;
}

main div .bar-img img {
    margin: 1% 3%;
    max-width: 10%;
    border: 2px solid gray;
    border-radius: 5px;
}

main div .destacadas {
    display: flex;
    flex-direction: column;
    margin: 0% 10% 1%;
    text-align: center;
    max-width: 100;
    gap: 30px;
}

main div .destacadas .marcas {
    display: flex;
    margin: 0px 20%;
    justify-content: space-around;
    max-width: 100%;
    gap: 15px;
}

.animate__animated.animate__rubberBand {
    --animate-duration: 2s;
}

.animate__animated {
    color: #0F1B1D;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 50px 0 0px;
}

main div .destacadas .marcas img {
    max-width: 100%;
    border: 1px solid #0F1B1D;
    border-radius: 5px;
}

main div .destacadas .marcas div {
    border-radius: 12px;
    padding: 2px;
}

main div .destacadas .marcas div a img:hover {
    transform: scale(1.15);
    border: 1px solid #DD761C;
    border-radius: 12px;
}



main div .tienda {
    display: flex;
    flex-direction: column;

}

main div .tienda .categorias {
    margin: 50px 10% 30px;
    text-align: center;
    align-items: center;
    max-width: 80%;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

main div .tienda .categorias>h2 {

    border-radius: 5px;
    padding: 5px;
    background-color: #eeeee4;
    font-size: 0.8rem;
    font-weight: 600;
    color: #0F1B1D;
}

main div div .cajaproductos {
    background-color: #ffffff;
    display: flex;
    padding: 2% 0%;
    overflow-x: scroll;
    border-radius: 10px 10px 0 0;

}

main div div .cajaproductos .itemproducto {
    box-shadow: 1px 1px 5px gray;
    border-radius: 7px;
    margin: 0 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;

}

.itemproducto h3 {
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #ffffffdc;
    border-radius: 5px;
    color: #0f1b1ddc;
    padding: 3px;
}

main div div .cajaproductos .itemproducto:hover {
    transform: scale(1.02);
}

.itemproducto h2 {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 3px;
    /*border: 3px solid #0f1b1ddc;*/
    /*background-color: #467ea3dc;*/
    border-radius: 5px;
    color: #0f1b1ddc;
}



main div div .cajaproductos img {
    height: 200px;
    width: 180px;
    object-fit: contain;
}

main div div .tienda2 {
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 650px) {
    main div .bar-img img {
        max-width: 20%;
    }

    main .home {
        background-image: none;
        background-color: #ffffff;

    }

    main div .tienda {
        align-items: center;
    }

    main div .destacadas .marcas {
        margin: 1% 0%;
    }

    main div div .cajaproductos {
        max-width: 380px;
    }

    main div .tienda .categorias {
        margin: 0% 5% 5%;

    }
}

@media only screen and (max-width: 650px) {}

/*----Css de Servicios------*/

.pag-servicios {
    background-color: #EFF4F7;
    background-size: cover;
    text-align: center;
}

.pag-servicios .animate__animated {
    background-color: #eeeee4;
    max-width: 100%;
    color: #0F1B1D;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
}


.servicios-link {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;

}

.servicios-link h3 {
    margin-bottom: 20px;
    color: #0F1B1D;
    font-size: 0.8rem;
    font-weight: 500;
}

.servicios-link ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;


}

.servicios-link li {

    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #0F1B1D;
}

.servicios-link a {
    text-decoration: none;
    color: #EFF4F7;
    display: block;
    font-size: 0.7rem;
    font-weight: 200;

}

.servicios-link a:hover {
    color: #009fbb;
}

section h3 {
    color: #0F1B1D;
    padding-top: 50px;
    font-size: 1rem;
    font-weight: 500;
}

section p

/* párrafos */
    {
    color: #0F1B1D;
    padding: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 80%;
    margin: auto;
}

section img

/* imágenes */
    {
    box-sizing: border-box;
    border-radius: 12px;
    width: 400px;
    border: 0;
}

/* --------------- css de nosotros ----------------- */

article

/* contenedor para servicios y nosotros */
    {
    box-sizing: border-box;
    padding: 30px 0px 40px;
    max-width: 80%;
    margin: auto;


}

article h3 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

article p

/* párrafos */
    {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-style: normal;
}

li img

/* imagenes */
    {
    box-sizing: border-box;
    height: 100px;
    border: 0;
    border-radius: 12px;
}

li h5

/* nombres */
    {
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 5px 0 10px;
}

li h6

/* funciones */
    {
    color: #eeeee4;
    box-sizing: border-box;
    text-align: center;
    font-family: "Hind Madurai", sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
}

/* código para hacer columnas responsive */

.linea::after

/* definición del formato de una línea */
/* se emplea el pseudo-elemento after */
/* clases cuyo nombre sea "linea" + "" */
    {
    content: "";
    clear: both;
    display: table;
}

.menu ul

/* definición del formato de los elementos ul dentro de la clase menu */
    {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.menu li

/* definición del formato de los elementos li dentro de la clase menu */
    {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 0px;
    background-color: #0f1b1ddc;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li h5 {
    color: #DD761C;
}

[class*="col-"]

/* definición del formato general de todas las clases de columnas */
/* se emplea selector de atributos */
/* clases cuyo nombre contenga "col-"" */
    {
    float: left;
    padding: 5px;
}

/* definición de anchos de columnas para diferentes dispositivos */
/* inicialmente se asume que el dispositivo es un teléfono móvil */
/* 100% corresponde al ancho total de la pantalla */

/* para teléfonos móviles (ancho de ventana reducido) */
/* todas las clases tendrán definido un ancho igual al 100% del ancho de la ventana */
/* (las columnas ocuparán el 100% del ancho de la pantalla, por lo tanto aparecerán una debajo de la otra) */
[class*="col-"] {
    width: 100%;
}

/* para tabletas (ancho de ventana mayor o igual a 600 pixeles) */
@media only screen and (min-width: 631px)
/* media query & breakpoint */
/* las siguientes propiedades se aplican si:
    1) el navegador soporta queries (only)
    2) el dispositivo tiene una pantalla (screen)
    3) la ventana del navegador es mayor o igual a 600 pixeles (min-width) */
/* las clases corresponden a columnas cuyos anchos varían entre 1/12 y 12/12 del ancho de la pantalla */
/* en el cuerpo de la página se seleccion la clase a emplear para cada columna */
    {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

}

/* para computadoras de escritorio (ancho de ventana mayor o igual a 768 pixeles) */
@media only screen and (min-width: 768px)
/* media query & breakpoint */
/* las siguientes propiedades se aplican si:
    1) el navegador soporta queries (only)
    2) el dispositivo tiene una pantalla (screen)
    3) la ventana del navegador es mayor o igual a 768 pixeles (min-width) */
/* las clases corresponden a columnas cuyos anchos varían entre 1/12 y 12/12 del ancho de la pantalla */
/* en el cuerpo de la página se seleccion la clase a emplear para cada columna */
    {
    .colo-2 {
        width: 16.66%;
    }

    .col-4 {
        width: 33.33%;
    }

}

@media only screen and (max-width: 650px) {
    section img {
        max-width: 100%;
    }
}

/*------Css de Registro------*/

/* Estilos del formulario */

.titulo_form{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


.registro {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#form div {
    margin-bottom: 15px;

}


#form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}


#form input[type="text"],

#form input[type="email"],

#form input[type="number"],

#form input[type="text"],

#form select {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


#form input[type="checkbox"],
#form input[type="radio"] {
    font-weight: normal;

}


#form .failure-icon,
#form .success-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 1.2em;

}


#form .error {
    color: #d9534f;
    font-size: 0.9em;
    margin-top: 5px;

}


#form button#btn {
    width: 100%;

    background-color: #ffcc00;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

}


#form button#btn:hover {
    background-color: #ff9900;

}

.sucursal-container {
    margin-bottom: 20px;

}


.sucursal-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;

}


.sucursal-container select {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: normal;
    font-weight: normal;

}


.sucursal-container i {
    display: none;
}


.sucursal-container .error {
    color: red;
    font-size: 14px;
}


/* Estilos de las sucursales */

div.sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid, rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 5% 0 5% 0%;
    text-align: center;
    

}

.titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

#form input {
    display: flex;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#especie {
    display: flex;
}

#form label {
    display: inline;
    margin-bottom: 5px;
}

#form div {
    position: relative;
    margin-bottom: 15px;
    display: flex;
}

input:focus {
    border: 2px solid #f2796e;
}

form div i {
    position: absolute;
    padding: 10px;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

#btn {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

#btn:hover {
    opacity: 0.8;
}


main .container {
    margin: 2 5%;
}

main .sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



main .sucursales div {
    
    text-align: center;
    color: #DD761C;
    background-color: #0f1b1ddc;
    padding: 1%;
}

main .sucursales section {

    text-align: center;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 2px 5px darkgray;
}

#form label, input, select, option, button{
    font-size: 16px !important;
    font-weight: 500 !important;
}

#form .error{
    font-size: 20px;
    font-weight: 600;
}

#form div{
    gap: 10px ;
    align-items: center;;
}

@media only screen and (max-width: 650px) {

    .registro {
        max-width: 100%;
        margin: 20px auto;        
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }



    div .etiqueta {
        padding: 0;
    }
    

    label {
        font-size: 15px;
    }

   

    form input {
        font-size: 10px;
    }

    #form div {
        font-size: 10px;
    }

    div iframe {
        max-width: 100%;
    }

    main .sucursales section {
        box-shadow: none;
        max-width: 100%;
    }

    form {
        padding: 0 0 0 0;
        max-width: 100%;
    }
    #sucursal{
        max-width: 85%;
        font-size: 15px;
    }

    #form select, label, option, button{
        font-size: 12px !important;
    }

    
}

